<h1>About Page</h1>

<ul>
  <li><a href="/">Home</a></li>
  <li><a href="/contact">contact</a></li>
</ul>
<p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Ex voluptas
  aspernatur quo consectetur temporibus doloribus quia quisquam, consequuntur
  cum dolorem excepturi dolore fuga vero iusto deleniti ut asperiores corrupti!
  Distinctio?</p>